[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = git@github.com:google/googletest.git
[submodule "third-party/gflags"]
	path = third-party/gflags
	url = git@github.com:glimmer-godman/gflags.git
